.reference_section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .heading_container p {
    font-size: 16px;
    color: #666;
  }
  
  .slider {
    position: relative;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
  }
  
  .slide {
    flex: 0 0 10%;
    text-align: center;
  }
      
    @keyframes slide {
      0% { transform: translateX(0); }
      8.33% { transform: translateX(0); }
      16.66% { transform: translateX(-100%); }
      25% { transform: translateX(-100%); }
      33.33% { transform: translateX(-200%); }
      41.66% { transform: translateX(-200%); }
      50% { transform: translateX(-300%); }
      58.33% { transform: translateX(-300%); }
      66.66% { transform: translateX(-400%); }
      75% { transform: translateX(-400%); }
      83.33% { transform: translateX(-500%); }
      91.66% { transform: translateX(-500%); }
      100% { transform: translateX(-600%); }
    }

      .slides {
        display: flex;
        width: calc(1 * 100%);
        animation: slide 60s infinite;
      }